@font-face {
    font-family: Ysabeau Bold;
    src: url(fonts/Ysabeau_Office/static/YsabeauOffice-Bold.ttf);
}
@font-face {
    font-family: Ysbeau Thin;
    src: url(fonts/Ysabeau_Office/static/YsabeauOffice-Thin.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Ysbeau Thin;
    width: 100vw;
    overflow-x: hidden;
}
h1{
    margin: 0 0 16px 0;
    letter-spacing: -0.5px;
}
h2{
    margin: 0 0 0 0;
    letter-spacing: -0.5px;
}
p{
    margin-top: 32px;
    width: 87%;
}
.white{
    background-color: white;
    color: black;
}
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    height: 7vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
nav a img {
    max-height: 30px;
    margin-top: 0;
}
/* Standard body css */
section{
    padding: 10px;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
section div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#building{
    max-height: 100%;
    max-width: 50%;
}
.brands{
    height: 25vh;
}
section img:not(#building, .brands img){
    max-width: 35%;
    padding: 10px 10px 0 10px;
}
.brands img {
 width: 15%;   
 max-width: 85px;
}

.vcard{
    font-family:Ysabeau Bold;
}
.vcard a{
    z-index: 1;
    height: 20%;
    width: 40%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 23px;
}
/* CSS circle top */
.cssCurve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}
.cssCurve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 1000%; 
    background-color: black;
    height: 50%;
    width: 100%;
    transform: translate(0,100%);
}
.css_curve_padding{
    padding-top: 12vh;
}
/* SVG wave no depth */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 170px;
}
.wave .shape-fill {
    fill: #000000;
}
.top_css_wave_padding{
    padding-bottom: 60px;
}
.wave_padding{
    padding-top: 40px;
}
/* SVG wave depth */ 
.spacer{
    position: absolute;
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image:url(./img/layered-waves-haikei.svg);
}
/* Blob animation CSS */ 
.blob-motion{
    position: absolute;
    max-height: 400px;
    
}
#visual{
    width: 100%;
    transform: translateY(-3%);
}